@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;600&display=swap');
/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  align-items: center;
  background-color: #050505;
  color: #f2f2f2;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.center-flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-grid{
  display: grid;
  gap: 3.5em;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 90vw;
}

/* HEADING */
.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5em;
  text-align: center;
}
.container_blob{
  left: 0;
  top: 0;
  min-height: 100vh;
  position: fixed;
  width: 50vw;
  z-index: -1;
}
.svg_blob{
  left:0;
  position: absolute;
  top:0;
  transform: rotate(90deg);
}
.svg_blob > path {
  fill: rgb(41, 30, 109);
}

/* CONTAINER DRAG & DROP */
.container-dnd{
  min-width: 100%;
  min-height: 60vh;
  border-radius: 5px;
  border: 3px dashed rgba(255, 255, 255, 0.322);
  padding: 1em;
  transition: all .3s ease;
}
.label-dnd{
  transition: all .3s ease;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.322);
  font-size: 1.1em;
  transform: scale(.9);
  position: relative;
  z-index: -1;
}
.isDragging, .container-dnd:hover{
  border-color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.075);
}
.container-dnd:hover > .label-dnd,
.isDragging > .label-dnd
{
 color:white;
 transform: scale(1);
}
.container-dnd:active {
  background-color: transparent;
}


/* CONTAINER DRAG & DROP WHIT IMAGE  */
.image-selected {
  object-fit: contain;
  vertical-align: top;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  max-height: 400px;
}

/* BUTTONS IMAGE SELECTED */
.container-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 0 0;
  gap: 1em;
  min-height: 40px;
}
.container-buttons > button{
  all: unset;
  border: 1px solid white;
  padding: 1em 0;
  flex: 1;
  cursor: pointer;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.loading-label{
  font-weight: bold;
  animation: loading .5s infinite alternate; 
}

@keyframes loading {
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}

.container-buttons > button:hover{
  background-color: rgb(34, 34, 36);
}

/* SUCCESS UPLOAD IMAGE */
.url-cloudinary-sumbit{
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.1em;
  animation: fadeIn .5s ease-in;
}
.url-cloudinary-sumbit > a {
  all: unset;
  background-color: slateblue;
  padding: .5em;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 0 0 1em;
}
.url-cloudinary-sumbit > a:hover{
  background-color: rgb(77, 64, 167);
}
.url-cloudinary-sumbit > a:active{
  background-color: slateblue;
}

@keyframes fadeIn {
  0%{ transform: translate( -50%, -100px); opacity: 0; }
  100%{transform: translate(-50%, 0px,); opacity: 1;}
}